      /* 主體 CSS */
  .policy{
    display: flex;
  }
  .copyright{
    padding-top: 32px;
    padding-bottom: 32px;
    justify-content: space-between;
    color: white;
    flex-wrap: wrap;
  }
  .copyright p{
    margin-bottom: 8px;
  }
  @media(max-width: 375px){
    .copyright{
      flex-direction: column;
    }
    .policy{
      display: block;
    }
    .copyright li{
      margin-bottom: 8px;
    }
  }

  .padding{
    padding-top: 80px;
    padding-bottom: 80px;
    @media (max-width:375px){
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }
  .section-title{
    color: #650300;
    text-align: center;
    padding-bottom: 48px;
    font-size: 48px;
    font-weight: bold;
    @media (max-width:375px){
      padding-bottom: 24px;
      font-size: 24px;
    }
  }
  .bg-color-pink{
    background-color: #FBF2F2;
  }
  .bg-color-red{
    background: #AA0601;
  }
  .icon-img{
    width: 84px;
    margin: 0 auto;
  }
  .icon-title{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding-top: 16px;
    padding-bottom: 8px;
    color: #650300;
  }
  .classic-img{
    width: 416px;
    padding-bottom: 8px;
    
    @media(max-width: 992px){
      width: 336px;
      margin: 0 auto;
    }
    @media(max-width: 375px){
      width: 348px;
    }
  }
  .item-title{
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    color: #650300;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .bg-img{
    background: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg.png?raw=true);
    background-size: cover;
  }

  /* .jointly-img{

    @media(max-width:768px) {
      max-height:100%;
      max-width:100%;
    }
  } */
  .jointly-sm-img{
    display: none;
  }
  @media(max-width: 375px){
    .jointly-img{
      display: none;
    }
    .jointly-sm-img{
      display: block;
    }
  }
  .h-240{
    height: 240px;
  }
  /* .head{
    &-img{
      background: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header.png?raw=true);
      background-size: contain;
      text-align: right;
      padding-top: 296px;
      padding-bottom: 296px;
    }
    &-title{
      font-size: 64px;
    }
    &-subtitle{
      font-size: 36px;
      color: #650300;
    }
    &-button{
      display: block;
      background: #650300;
      border: none;
      color: #fff;
      font-size: 20px;
    }
  } */
  .head-img{
    background: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header.png?raw=true);
    background-size: cover;
    background-position: 50% 50%;
    text-align: right;
    padding-top: 296px;
    padding-bottom: 296px;
      @media (max-width:375px){
      background: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header-sm.png?raw=true);
      padding-top: 144px;
      padding-bottom: 144px;   
      }
  }
  .head-title{
    font-size: 64px;
    color: #650300;
    @media (max-width:375px){
      font-size: 24px;
    }
  }
  .head-subtitle{
    font-size: 36px;
    color: #650300;
    @media (max-width:375px){
      font-size: 16px;
    }
  }
  .head-button{
    background: #650300;
    border: none;
    color: #fff;
    font-size: 20px;
    padding: 6px 12px;
    margin-top: 4px;
  }
  .cus-div{
    min-height: 200px;
    padding: 16px;
    box-shadow: 0px 2px 6px #00000029;
    border: 1px solid #DEE2E6;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    display: flex;
    flex-direction: column;
  }
  .cus-title{
    padding-bottom: 8px;
  }
  .cus-date{
    color: #707070;
    margin-top: auto;
  }
  .form{
    justify-content: center;
  }

  .checkbox{
    margin-top: 0;
    margin-bottom: 0;
  }
  .summit{
    display: block;
    background: #AA0601;
    color: #fff;
    padding: 16px;
    border: none;
    margin: 0 auto;
    text-align: center;
    margin-top: 48px;
  }