<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="all.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&family=Roboto:ital,wght@0,400;0,500;0,700;1,900&display=swap" rel="stylesheet">
    <!-- <link href="https://fonts.googleapis.com/css?family=Material+Icons%7CMaterial+Icons+Outlined%7CMaterial+Icons+Two+Tone%7CMaterial+Icons+Round%7CMaterial+Icons+Sharp" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <title data-aos="fade-right">門市據點</title>
</head>
  <body>
    <%- include('./layout/header'); -%>
    <div data-aos="fade-right" class="container store-mb">
        <h1 class="fz-48 fw-bold border-left pl-16 store-title">門市據點</h1>
        <div class="col-sm-12 select flex mb-40 sm-mb-24">
            <p class="fz-24 mr-16">選擇分店</p>
            <select class="fz-18 select-color">
                <option>台北中山旗艦店</option>
                <option>台北中山旗艦店</option>
                <option>台北中山旗艦店</option>
                <option>台北中山旗艦店</option>
                <option>台北中山旗艦店</option>
            </select>
        </div>
        <div data-aos="fade-right" class="row sm-remove-row flex-wrap">
            <div class="col-5 col-md-12 col-sm-12 px-3 sm-flex-wrap md-px-0 md-row md-mb-24">
                <div class="col-md-6 col-sm-12 md-px-3">
                    <img class="store-Img" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/store-1.png?raw=true" alt="">
                </div>
                <div class="col-md-6 col-sm-12 md-px-3">
                    <p class="fz-24 store-Name store-border">台北中山旗艦店</p>
                    <ul class="store-info store-border fz-20">
                        <li class="pb-8"><span class="material-symbols-outlined">
                            call
                        </span><a class="pl-8" type="tel:(02)000-1234">電話：(02)000-1234</a></li>
                        <li class="pb-8"><span class="material-symbols-outlined">
                            schedule
                            </span><span class="pl-8">營業時間：10:00-21:00</span></li>
                        <li><span class="material-symbols-outlined">
                            location_on
                            </span><span class="pl-8">地址：台北市中山區南京東路25巷2-1號</span></li>
                    </ul>
                </div>
            </div>
            <img data-aos="fade-left" class="col-7 col-md-12 px-3 store-Map" src="../assets/images/storemap2x.png" alt="">
        </div>
    </div>
    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>

  </body>
</html>